<h2>Task 1</h2>
<h3>Show Alert</h3>
<br />
<div>
    <button ng-click="showAlert()">Show Alert</button>
</div>
<br />

<br />
<h2>Task 2</h2>
<h3>Show Alert with text of the input</h3>
<br /> Message
<input ng-model="myText" </input>
<br />
<br />
<input class="btn btn-primary" type="button" value="Show value" ng-click="executeFunction(myText)" />
<br />
<br />
<h2>Task 3</h2>
<h3>Change color of div</h3>
<br />
<div style="height:100px;width:275px; background-color:{{color}};" ng-mouseover='onMouseover()' ng-mouseleave='onMouseLeave()'>
</div>
<br />
<br />
<h2>Task 4</h2>
<h3>Change color of paragraph</h3>
<br />
<p ng-style="myStyle" ng-click="myStyle={color:'red'}">This paragraph must change the color if you click on this!</p>
<br />
<br />
<h2>Task 5</h2>
<h3>Add name to span</h3>
<br />
<button ng-click="addName()">Add Name</button>
<br />
<br />
<div>
    <span ng-model="myName">{{myName}}</span>
</div>
<br />
<br />
<h2>Task 6</h2>
<h3>Add list with my friends</h3>
<br />
<div>
    <button ng-click="showFriends()">Show Friends</button>
    <div ng-repeat="friend in friends">
        <h3>{{friend.name}}</h3>
    </div>
</div>